<div class="card mt-5 Larger shadow w-50 m-auto">
  <div class="container mt-3">
    <div class="d-grid gap-2 d-md-flex justify-content-between">
      <input type="text" placeholder="Search Task" class="p-auto m-4 w-5" [(ngModel)]="searchTask"/>
      <button class="btn btn-dark p-auto m-4" type="button" [routerLink]="['/add']">+ Add New</button>
    </div>
    <table class="table table-bordered">
      <thead class="table-secondary">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">DueDate</th>
          <th scope="col">Priority</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of task | taskFilter:searchTask; let i = index ">
          <td scope="row">{{ item.id }}</td>
          <td>{{ item.title }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.dueDate | date }}</td>
          <td>{{ item.priority }}</td>
          <td>
            <button type="button" class="btn btn-warning m-3" [routerLink]="['/edit', item.id]">
              <i class="bi bi-pencil-square"></i>
            </button>

            <button type="button" class="btn btn-danger" (click)="deleteTask(item.id)">
              <i class="bi bi-trash3-fill"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

